/* Estilo base */
body {
    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Centralização geral */
h1, h2, footer, .textAbout {
    text-align: center;
}

/* Índice justificado à esquerda */
ul {
    list-style-type: none;
    padding: 10px;
    text-align: left;
}

/* Estilo dos itens do índice */
ul li {
    margin: 10px;
}

ul li a {
    color: #a4c639;
    text-decoration: none;
}

ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/* Estilização das seções de texto */
.textAbout {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #555;
    border-radius: 10px;
    background: #222;
}

/* Ajustes para o iframe */
iframe {
    max-width: 100%;
    height: auto;
}

/* Estilização do footer */
footer {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    background-color: #111;
}

/* Ajustes de responsividade */
@media (max-width: 625px) {
    /* Centralização de todo o conteúdo, exceto o índice */
    body {
        align-items: center;
    }

    .textAbout, footer, h1, h2 {
        width: 90%;
        margin: 10px auto;
    }

    /* Manter o índice justificado à esquerda */
    ul {
       
        width: auto;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin-left: 10px;
    }
   

    /* Ajuste de tamanhos de fontes e elementos */
    h1, h2 {
        font-size: 1.4em;
    }

    .textAbout {
        padding: 10px;
    }
}
